* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: .4s;
}

body {
    padding: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    margin: 20px auto;
    max-width: 500px;
    padding: 20px;
    border: 1px solid black;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

select, button {
    width: 100%;
    padding: 8px 12px;
    border: 1px solid black;
    border-radius: 6px;
    outline: none;
    cursor: pointer;
}