* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: .4s;
}

body {
    background-color: royalblue;
    padding: 20px;
}

input, button {
    padding: 8px 12px;
}

table {
    width: 70%;
    margin: 50px auto;
}

table, th, td {
    color: white;
    text-align: center;
    padding: 10px;
    border: 1px solid white;
}