* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}

#calculator {
    max-width: 375px;
    border-radius: 15px;
    background-color: hsl(0, 0%, 15%);
    overflow: hidden;
}

#calculator #display {
    color: #FFF;
    font-size: 3.5rem;
    text-align: left;
    padding: 25px;
    width: 100%;
    border: none;
    outline: none;
    background-color: hsl(0, 0%, 20%);
}

#keys {
    padding: 15px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

#keys button {
    color: #FFF;
    font-size: 2rem;
    font-weight: bold;
    width: 75px;
    height: 75px;
    border: none;
    border-radius: 50px;
    background-color: hsl(0, 0%, 30%);
    cursor: pointer;
}

#keys button:hover {
    background-color: hsl(0, 0%, 40%);
}

#keys button:active {
    background-color: hsl(0, 0%, 50%);
}

#keys .operator-btn {
    background-color: hsl(35, 100%, 55%);
}

#keys .operator-btn:hover {
    background-color: hsl(35, 100%, 65%);
}

#keys .operator-btn:active {
    background-color: hsl(35, 100%, 75%);
}