* {
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    color: #03e9f4;
    font-size: 1rem;
    font-weight: bold;
    height: 100vh;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    padding: 50px 200px;
    border-radius: 50px;
    box-shadow: 0 0 5px #0f435a,
                0 0 25px #0f435a,
                0 0 50px #0f435a,
                0 0 200px #0f435a;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

input {
    color: #03e9f4;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 4px;
    padding: 20px 25px;
    border: 1px solid #03e9f4;
    background-color: transparent;
    border-radius: 10px;
    outline: none;
}

label {
    color: #03e9f4;
    text-transform: uppercase;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 4px;
}

button {
    color: #03e9f4;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 4px;
    padding: 20px 25px;
    border: 1px solid #03e9f4;
    border-radius: 15px;
    outline: none;
    background-color: transparent;
    overflow: hidden;
    display: inline-block;
    position: relative;
    transition: .5s;
}

button:hover {
    color: #050801;
    background-color: #03e9f4;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 200px #03e9f4;
    /* shadow from below */
    /* -webkit-box-reflect: below 1px linear-gradient(transparent, #0005); */
}



