:root {
    --primary-clr: #03e9f4;
}

* {
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
    color: var(--primary-clr);
    text-transform: uppercase;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    letter-spacing: 4px;
    transition: .4s;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 70vw;
    padding: 50px 30px;
    border-radius: 50px;
    box-shadow: 0 0 5px #0f435a,
                0 0 25px #0f435a,
                0 0 50px #0f435a,
                0 0 200px #0f435a;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

input, button {
    padding: 20px 25px;
    border: 1px solid var(--primary-clr);
    border-radius: 10px;
    outline: none;
    background: transparent;
}

button:hover {
    color: #050801;
    background-color: var(--primary-clr);
    box-shadow: 0 0 5px var(--primary-clr),
                0 0 25px var(--primary-clr),
                0 0 50px var(--primary-clr),
                0 0 200px var(--primary-clr);
}