* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

body {
    padding: 50px 100px;
    width: 100%;
    height: 100vh;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 50px;
}

textarea {
    resize: none;
}

.task-adder-form {
    color: #000000;
    padding: 20px 30px;
    width: 400px;
    border-radius: 30px;
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.task-adder-form .task-items {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.task-items input,
.task-items textarea {
    padding: 8px 12px;
    width: 100%;
    border: 1px solid #000000;
    border-radius: 30px;
    outline: none;
}

.task-adder-form #btnAddTask {
    color: #000000;
    font-weight: 700;
    padding: 8px 12px;
    border: 1px solid #000000;
    border-radius: 30px;
    background: transparent;
    outline: none;
    cursor: pointer;
}

.tasks-container {
    padding: 20px;
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.tasks-container .tasks-cards {
    padding: 20px;
    height: 300px;
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.tasks-cards-items .task-title,
.tasks-cards-items .task-description {
    padding: 4px 0;
    border-bottom: 1px solid #000000;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tasks-cards-items .task-title > button,
.tasks-cards-items .task-description > button {
    width: 25px;
    height: 25px;
    border: 1px solid #000000;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
}

.tasks-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
}