* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: rgb(70, 70, 219);
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    padding: 20px 30px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

form h1 {
    color: rgb(70, 70, 219);
    margin-bottom: 20px;
}

form input {
    padding: 8px 12px;
    width: 300px;
    border: none;
    border-bottom: 1px solid rgb(70, 70, 219);
    border-radius: 10px;
    outline: none;
    cursor: pointer;
}

form input::placeholder {
    color: rgb(70, 70, 219);
    opacity: 0.6;
}

form button {
    color: white;
    text-transform: uppercase;
    padding: 12px 16px;
    width: 200px;
    border: none;
    outline: none;
    background-color: rgb(70, 70, 219);
    cursor: pointer;
}